<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185609886814-optu0lnvd7squd5vr1oj0t3do5qg91g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185609886814-optu0lnvd7squd5vr1oj0t3do5qg91g3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>185609886814-vods6kv70oeva9gvi2igmjd79fb2fjvv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfWYmfW7ht2awx3Mv9RsUug_G8NDARIIA</string>
	<key>GCM_SENDER_ID</key>
	<string>185609886814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Touku</string>
	<key>PROJECT_ID</key>
	<string>angelium-71cf5</string>
	<key>STORAGE_BUCKET</key>
	<string>angelium-71cf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185609886814:ios:83cd5d5529a5cf9aa1a8cf</string>
	<key>DATABASE_URL</key>
	<string>https://angelium-71cf5.firebaseio.com</string>
</dict>
</plist>